{% extends "main.html" %}

{% block content %}

<style>

    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .topic-list{
        display: flex;
        flex-direction: column;
    }

</style>

<div class = "home-container">

    <div class="sidebar">
        <h3>Browse Topics</h3>
        <hr>
        <div class = "topic-all">
            <a href = "{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
            <div class = "topic-list">
                <a href = "{% url 'home' %}?={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>
    
    <div>
        <h1>{{room_count}} rooms available</h1>
        <a href = "{% url 'create-room' %}">create room</a>
        <div>
            {% for room in rooms %} 
                <div>
                    <div>
                        {% if request.user == room.host %}
                        <h2><a href = "/update-room/{{ room.id}}">Edit Room</a></h2>
                        <h2><a href = "{% url 'delete-room' room.id %}">Delete room</a></h2>
                        {% endif %}
                    </div>
                    <span>@{{room.host.username}}</span>
                    <h2>{{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a></h2>
                    <small>{{room.topic.name}}</small>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
