{% extends "main.html" %}

{% block content %}
    {% if page == 'login' %}
    <div>
        <form method = "POST" action="">
            {% csrf_token %}

            <label>Username or Email</label>
            <input type = "text" name = "username" placeholder="username"/>
            <label>Password</label>
            <input type = "password" name = "password" />

            <input type = "submit" value = "Login"/>

        </form>
        
        <p>Don't have an account ?</p>
        <a href = "{% url 'register' %}">Sign Up</a>
    </div>

    {% else %}

    <div>
        <form method = "POST" action="">
            {% csrf_token %}
            {{form.as_p}}

            <input type = "submit" value = "Register"/>

        </form>
        <p>Already have an account ?</p>
        <a href = "{% url 'login' %}">Login</a>
    </div>

    {% endif %}

{% endblock %}