{% extends "main.html" %}


{% block content %}
<style>
    .comment-wrapper{
        border: 1px solid grey;
        border-radius: 10px;
        padding:10px;

    }
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;

        
    }
</style>

<div class = "room-container">
    <div>
        <h3>Hosted by  <span> - @{{room.host.username}}</span></h3>
        <h2>{{room.name}}</h2>
        <p>{{ room.description }}</p>

        <div class = "comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            <div class = 'comment-box'>
                {% for message in room_messages %}

                    {% if request.user == message.user %}
                    <a href = "{% url 'delete-message' message.id %}">Delete</a>
                    {% endif %}
                    <span>@{{message.user}}</span>
                    <span>{{message.created | timesince}} ago</span>
                    <p>{{message.body}}</p>
                    <hr>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
                <div class = "comment-form">
                    <form method = 'POST'>
                        {% csrf_token %}
                        <input type = 'text' name = 'body' placeholder="Write your message here..."/>
                    </form>
                </div>
            {% endif %}

        </div>
        
    </div>

    <div class = "participants">
        <h3>participants</h3>
        <hr>
        <div>
            {% for user in users %}

            <p>@{{user.username}}</p>
            
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}